n8n/reconciliation-hitl.workflow.json
{
  "name": "Réconciliation Retail↔Compta — Revue humaine (HITL)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reconciliation-validation",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Webhook (proposition en attente)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "reconciliation-validation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sender: { name: 'NEXERP Réconciliation', email: 'contact@nexerp.fr' }, to: [{ email: 'richard@geovtc.com' }], subject: 'Réconciliation à valider — ' + $json.body.proposal_id + ' (écart ' + $json.body.ecart_global + '€)', htmlContent: '<p>Une réconciliation <b>' + $json.body.proposal_id + '</b> (' + $json.body.periode + ' / ' + ($json.body.magasin || '-') + ') attend ta validation.</p>' + '<p>Écart global Retail−Compta : <b>' + $json.body.ecart_global + ' €</b> — écarts : ' + $json.body.nb_ecarts + ', non appariés : ' + $json.body.nb_non_apparies + '.</p>' + '<p style=\"white-space:pre-wrap\">' + ($json.body.synthese || '') + '</p>' + '<p><a href=\"' + $execution.resumeFormUrl + '\">► Ouvrir le formulaire de revue</a></p>' + '<p style=\"color:#888;font-size:12px\">Artefact : ' + ($json.body.artefact_uri || '') + '</p>' }) }}",
        "options": {}
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Email Brevo (lien de revue)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_BREVO_CREDENTIAL",
          "name": "Brevo api-key"
        }
      }
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Revue de réconciliation Retail↔Compta",
        "formDescription": "=Proposition {{ $('Webhook (proposition en attente)').item.json.body.proposal_id }} — période {{ $('Webhook (proposition en attente)').item.json.body.periode }} / magasin {{ $('Webhook (proposition en attente)').item.json.body.magasin }}.\nÉcart global Retail−Compta : {{ $('Webhook (proposition en attente)').item.json.body.ecart_global }} €  |  écarts : {{ $('Webhook (proposition en attente)').item.json.body.nb_ecarts }}  |  non appariés : {{ $('Webhook (proposition en attente)').item.json.body.nb_non_apparies }}.\n\nSynthèse de l'agent :\n{{ $('Webhook (proposition en attente)').item.json.body.synthese }}",
        "formFields": {
          "values": [
            {
              "fieldLabel": "decision",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "approve" },
                  { "option": "reject" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "validateur",
              "fieldType": "text",
              "placeholder": "votre email",
              "requiredField": true
            },
            {
              "fieldLabel": "commentaire",
              "fieldType": "text",
              "placeholder": "motif / observations"
            }
          ]
        },
        "options": {
          "formSubmittedText": "Décision enregistrée. La réconciliation est transmise à l'agent."
        }
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Revue humaine (formulaire)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [680, 300],
      "webhookId": "reconciliation-hitl-form"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://reconciliation:8000/proposal/{{ $('Webhook (proposition en attente)').item.json.body.proposal_id }}/validate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ decision: $json.decision, validateur: $json.validateur, commentaire: $json.commentaire }) }}",
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Appel agent /validate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook (proposition en attente)": {
      "main": [
        [ { "node": "Email Brevo (lien de revue)", "type": "main", "index": 0 } ]
      ]
    },
    "Email Brevo (lien de revue)": {
      "main": [
        [ { "node": "Revue humaine (formulaire)", "type": "main", "index": 0 } ]
      ]
    },
    "Revue humaine (formulaire)": {
      "main": [
        [ { "node": "Appel agent /validate", "type": "main", "index": 0 } ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
